*{
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
  back-ground: '#F8ffee'
}

a {
  color: #64b6ac;
  text-decoration: none;
  cursor: pointer;
}

.container{
  display: flex;
  flex-direction: row;
}

.side{
  flex: 1;
  padding-top: 30px;
  padding-left: 20px;
  background: #64b6ac;
}

.main{
  flex: 5;
}
